# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.sq3
*.db

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Variables de entorno y secretos
.env
.env.local
*.pem

# IDEs y editores de código
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
